<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SystemManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SystemManager.Properties.Settings>
            <setting name="PrimaryColor" serializeAs="String">
                <value>84, 66, 142</value>
            </setting>
            <setting name="SecondryColor" serializeAs="String">
                <value>175, 227, 192</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Century Gothic, 11.25pt</value>
            </setting>
            <setting name="ResourceUsage" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PrimaryTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SecondryTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TablesPath" serializeAs="String">
                <value>C:\Users\kobyl\Desktop\Apps\Software\Sentry\DB</value>
            </setting>
            <setting name="TablesBuferSize" serializeAs="String">
                <value>1048576</value>
            </setting>
        </SystemManager.Properties.Settings>
    </userSettings>
</configuration>